<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1D046</key>
    <string>u1D_046.glif</string>
    <key>u1D047</key>
    <string>u1D_047.glif</string>
    <key>u1D049</key>
    <string>u1D_049.glif</string>
    <key>u1D08A</key>
    <string>u1D_08_A.glif</string>
    <key>u1D08B</key>
    <string>u1D_08_B.glif</string>
    <key>u1D08C</key>
    <string>u1D_08_C.glif</string>
    <key>u1D08D</key>
    <string>u1D_08_D.glif</string>
    <key>u1D08E</key>
    <string>u1D_08_E.glif</string>
    <key>u1D08F</key>
    <string>u1D_08F_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u1D04E</key>
    <string>u1D_04E_.glif</string>
    <key>u1D04F</key>
    <string>u1D_04F_.glif</string>
    <key>u1D050</key>
    <string>u1D_050.glif</string>
    <key>u1D055</key>
    <string>u1D_055.glif</string>
    <key>u1D056</key>
    <string>u1D_056.glif</string>
    <key>u1D051</key>
    <string>u1D_051.glif</string>
    <key>u1D053</key>
    <string>u1D_053.glif</string>
    <key>u1D058</key>
    <string>u1D_058.glif</string>
    <key>u1D05B</key>
    <string>u1D_05B_.glif</string>
    <key>u1D05C</key>
    <string>u1D_05C_.glif</string>
    <key>u1D05A</key>
    <string>u1D_05A_.glif</string>
    <key>u1D060</key>
    <string>u1D_060.glif</string>
    <key>u1D07B</key>
    <string>u1D_07_B.glif</string>
    <key>u1D07C</key>
    <string>u1D_07_C.glif</string>
    <key>u1D07D</key>
    <string>u1D_07_D.glif</string>
    <key>u1D07E</key>
    <string>u1D_07E_.glif</string>
    <key>u1D07F</key>
    <string>u1D_07F_.glif</string>
    <key>u1D085</key>
    <string>u1D_085.glif</string>
    <key>u1D086</key>
    <string>u1D_086.glif</string>
    <key>u1D087</key>
    <string>u1D_087.glif</string>
    <key>u1D088</key>
    <string>u1D_088.glif</string>
    <key>u1D089</key>
    <string>u1D_08_9.glif</string>
    <key>u1D090</key>
    <string>u1D_090.glif</string>
    <key>u1D091</key>
    <string>u1D_091.glif</string>
    <key>u1D092</key>
    <string>u1D_092.glif</string>
    <key>u1D093</key>
    <string>u1D_093.glif</string>
    <key>u1D094</key>
    <string>u1D_094.glif</string>
    <key>u1D095</key>
    <string>u1D_095.glif</string>
    <key>u1D096</key>
    <string>u1D_096.glif</string>
    <key>u1D097</key>
    <string>u1D_097.glif</string>
    <key>u1D098</key>
    <string>u1D_098.glif</string>
    <key>u1D099</key>
    <string>u1D_099.glif</string>
    <key>u1D09A</key>
    <string>u1D_09_A.glif</string>
    <key>u1D09B</key>
    <string>u1D_09_B.glif</string>
    <key>u1D09C</key>
    <string>u1D_09_C.glif</string>
    <key>u1D09D</key>
    <string>u1D_09_D.glif</string>
    <key>u1D09E</key>
    <string>u1D_09_E.glif</string>
    <key>u1D09F</key>
    <string>u1D_09_F.glif</string>
    <key>u1D0A0</key>
    <string>u1D_0A_0.glif</string>
    <key>u1D0A1</key>
    <string>u1D_0A_1.glif</string>
    <key>u1D0A3</key>
    <string>u1D_0A_3.glif</string>
    <key>u1D0A3.toProtosMartyriaTop</key>
    <string>u1D_0A_3.toProtosMartyriaTop.glif</string>
    <key>u1D0A5</key>
    <string>u1D_0A_5.glif</string>
    <key>u1D0A5.toPrimaryChromaticMartyriaTop</key>
    <string>u1D_0A_5.toPrimaryChromaticMartyriaTop.glif</string>
    <key>u1D0A6</key>
    <string>u1D_0A_6.glif</string>
    <key>u1D0A7</key>
    <string>u1D_0A_7.glif</string>
    <key>u1D0A7.toTritosMartyriaTop</key>
    <string>u1D_0A_7.toTritosMartyriaTop.glif</string>
    <key>u1D0A8</key>
    <string>u1D_0A_8.glif</string>
    <key>u1D0A8.toTetartosMartyriaTop</key>
    <string>u1D_0A_8.toTetartosMartyriaTop.glif</string>
    <key>u1D0A9</key>
    <string>u1D_0A_9.glif</string>
    <key>u1D0A9.toLegetosMartyriaTop</key>
    <string>u1D_0A_9.toLegetosMartyriaTop.glif</string>
    <key>u1D0AA</key>
    <string>u1D_0A_A.glif</string>
    <key>u1D0AB</key>
    <string>u1D_0A_B.glif</string>
    <key>u1D0AD</key>
    <string>u1D_0A_D.glif</string>
    <key>u1D0AE</key>
    <string>u1D_0A_E.glif</string>
    <key>u1D0AF</key>
    <string>u1D_0A_F.glif</string>
    <key>u1D0AF.withMApos</key>
    <string>u1D_0A_F.withMApos.glif</string>
    <key>u1D0B0</key>
    <string>u1D_0B_0.glif</string>
    <key>u1D0B0.withMonofonias</key>
    <string>u1D_0B_0.withMonofonias.glif</string>
    <key>u1D0B1</key>
    <string>u1D_0B_1.glif</string>
    <key>u1D0B1.toVarysMartyriaTop</key>
    <string>u1D_0B_1.toVarysMartyriaTop.glif</string>
    <key>u1D0B3</key>
    <string>u1D_0B_3.glif</string>
    <key>u1D0D0</key>
    <string>u1D_0D_0.glif</string>
    <key>u1D0D1</key>
    <string>u1D_0D_1.glif</string>
    <key>u1D0D2</key>
    <string>u1D_0D_2.glif</string>
    <key>u1D0D3</key>
    <string>u1D_0D_3.glif</string>
    <key>u1D0D4</key>
    <string>u1D_0D_4.glif</string>
    <key>u1D0D5</key>
    <string>u1D_0D_5.glif</string>
    <key>u1D0D6</key>
    <string>u1D_0D_6.glif</string>
    <key>u1D0D7</key>
    <string>u1D_0D_7.glif</string>
    <key>u1D0D8</key>
    <string>u1D_0D_8.glif</string>
    <key>u1D0D9</key>
    <string>u1D_0D_9.glif</string>
    <key>u1D0DA</key>
    <string>u1D_0D_A.glif</string>
    <key>u1D0DB</key>
    <string>u1D_0D_B.glif</string>
    <key>u1D0DC</key>
    <string>u1D_0D_C.glif</string>
    <key>u1D0DD</key>
    <string>u1D_0D_D.glif</string>
    <key>u1D0E9</key>
    <string>u1D_0E_9.glif</string>
    <key>u1D0E9.toPaMartyriaTop</key>
    <string>u1D_0E_9.toPaMartyriaTop.glif</string>
    <key>u1D0EA</key>
    <string>u1D_0E_A.glif</string>
    <key>u1D0EA.toVouMartyriaTop</key>
    <string>u1D_0E_A.toVouMartyriaTop.glif</string>
    <key>u1D0EB</key>
    <string>u1D_0E_B.glif</string>
    <key>u1D0EB.toGaMartyriaTop</key>
    <string>u1D_0E_B.toGaMartyriaTop.glif</string>
    <key>u1D0EC</key>
    <string>u1D_0E_C.glif</string>
    <key>u1D0EC.toDiMartyriaTop</key>
    <string>u1D_0E_C.toDiMartyriaTop.glif</string>
    <key>u1D0ED</key>
    <string>u1D_0E_D.glif</string>
    <key>u1D0ED.toKeMartyriaTop</key>
    <string>u1D_0E_D.toKeMartyriaTop.glif</string>
    <key>u1D0EE</key>
    <string>u1D_0E_E.glif</string>
    <key>u1D0EE.toZoMartyriaTop</key>
    <string>u1D_0E_E.toZoMartyriaTop.glif</string>
    <key>u1D0EF</key>
    <string>u1D_0E_F.glif</string>
    <key>u1D0EF.toNiMartyriaTop</key>
    <string>u1D_0E_F.toNiMartyriaTop.glif</string>
    <key>u1D0F0</key>
    <string>u1D_0F_0.glif</string>
    <key>u1D0F1</key>
    <string>u1D_0F_1.glif</string>
    <key>u1D0F3</key>
    <string>u1D_0F_3.glif</string>
    <key>u1D0F2</key>
    <string>u1D_0F_2.glif</string>
    <key>u1D0F4</key>
    <string>u1D_0F_4.glif</string>
    <key>u1D0F5</key>
    <string>u1D_0F_5.glif</string>
    <key>ison</key>
    <string>ison.glif</string>
    <key>oligonKentimaBelow</key>
    <string>oligonK_entimaB_elow.glif</string>
    <key>oligon</key>
    <string>oligon.glif</string>
    <key>oligonKentimaAbove</key>
    <string>oligonK_entimaA_bove.glif</string>
    <key>oligonYpsiliRight</key>
    <string>oligonY_psiliR_ight.glif</string>
    <key>oligonYpsiliLeft</key>
    <string>oligonY_psiliL_eft.glif</string>
    <key>oligonKentimaYpsiliRight</key>
    <string>oligonK_entimaY_psiliR_ight.glif</string>
    <key>oligonKentimaYpsiliMiddle</key>
    <string>oligonK_entimaY_psiliM_iddle.glif</string>
    <key>oligonDoubleYpsili</key>
    <string>oligonD_oubleY_psili.glif</string>
    <key>oligonKentimataDoubleYpsili</key>
    <string>oligonK_entimataD_oubleY_psili.glif</string>
    <key>isonApostrofos</key>
    <string>isonA_postrofos.glif</string>
    <key>apostrofosSyndesmos</key>
    <string>apostrofosS_yndesmos.glif</string>
    <key>yporroi</key>
    <string>yporroi.glif</string>
    <key>runningElafron</key>
    <string>runningE_lafron.glif</string>
    <key>elafron</key>
    <string>elafron.glif</string>
    <key>elafronApostrofos</key>
    <string>elafronA_postrofos.glif</string>
    <key>chamiliApostrofos</key>
    <string>chamiliA_postrofos.glif</string>
    <key>chamili</key>
    <string>chamili.glif</string>
    <key>chamiliElafron</key>
    <string>chamiliE_lafron.glif</string>
    <key>chamiliElafronApostrofos</key>
    <string>chamiliE_lafronA_postrofos.glif</string>
    <key>doubleChamili</key>
    <string>doubleC_hamili.glif</string>
    <key>petastiIson</key>
    <string>petastiI_son.glif</string>
    <key>petasti</key>
    <string>petasti.glif</string>
    <key>petastiOligon</key>
    <string>petastiO_ligon.glif</string>
    <key>petastiKentima</key>
    <string>petastiK_entima.glif</string>
    <key>petastiYpsiliRight</key>
    <string>petastiY_psiliR_ight.glif</string>
    <key>petastiYpsiliLeft</key>
    <string>petastiY_psiliL_eft.glif</string>
    <key>petastiKentimaYpsiliRight</key>
    <string>petastiK_entimaY_psiliR_ight.glif</string>
    <key>petastiKentimaYpsiliMiddle</key>
    <string>petastiK_entimaY_psiliM_iddle.glif</string>
    <key>petastiApostrofos</key>
    <string>petastiA_postrofos.glif</string>
    <key>petastiElafron</key>
    <string>petastiE_lafron.glif</string>
    <key>petastiElafronApostrofos</key>
    <string>petastiE_lafronA_postrofos.glif</string>
    <key>petastiChamili</key>
    <string>petastiC_hamili.glif</string>
    <key>kentima</key>
    <string>kentima.glif</string>
    <key>kentimata</key>
    <string>kentimata.glif</string>
    <key>oligonKentimataAbove</key>
    <string>oligonK_entimataA_bove.glif</string>
    <key>oligonIsonKentimata</key>
    <string>oligonI_sonK_entimata.glif</string>
    <key>oligonYpsiliLeftKentimata</key>
    <string>oligonY_psiliL_eftK_entimata.glif</string>
    <key>oligonApostrofosKentimata</key>
    <string>oligonA_postrofosK_entimata.glif</string>
    <key>oligonElafronKentimata</key>
    <string>oligonE_lafronK_entimata.glif</string>
    <key>oligonYporroiKentimata</key>
    <string>oligonY_porroiK_entimata.glif</string>
    <key>oligonKentimataBelow</key>
    <string>oligonK_entimataB_elow.glif</string>
    <key>oligonKentimaTripleYpsili</key>
    <string>oligonK_entimaT_ripleY_psili.glif</string>
    <key>oligonIson</key>
    <string>oligonI_son.glif</string>
    <key>oligonElafron</key>
    <string>oligonE_lafron.glif</string>
    <key>oligonRunningElafron</key>
    <string>oligonR_unningE_lafron.glif</string>
    <key>petastiRunningElafron</key>
    <string>petastiR_unningE_lafron.glif</string>
    <key>oligonApostrofos</key>
    <string>oligonA_postrofos.glif</string>
    <key>oligonYporroi</key>
    <string>oligonY_porroi.glif</string>
    <key>petastiYporroi</key>
    <string>petastiY_porroi.glif</string>
    <key>oligonRunningElafronKentimata</key>
    <string>oligonR_unningE_lafronK_entimata.glif</string>
    <key>oligonElafronApostrofosKentimata</key>
    <string>oligonE_lafronA_postrofosK_entimata.glif</string>
    <key>oligonKentimaMiddleKentimata</key>
    <string>oligonK_entimaM_iddleK_entimata.glif</string>
    <key>oligonYpsiliRightKentimata</key>
    <string>oligonY_psiliR_ightK_entimata.glif</string>
    <key>petastiChamiliApostrofos</key>
    <string>petastiC_hamiliA_postrofos.glif</string>
    <key>apostrofos</key>
    <string>apostrofos.glif</string>
    <key>oligonKentimataTripleYpsili</key>
    <string>oligonK_entimataT_ripleY_psili.glif</string>
    <key>doubleChamiliElafronApostrofos</key>
    <string>doubleC_hamiliE_lafronA_postrofos.glif</string>
    <key>doubleChamiliElafron</key>
    <string>doubleC_hamiliE_lafron.glif</string>
    <key>doubleChamiliApostrofos</key>
    <string>doubleC_hamiliA_postrofos.glif</string>
    <key>petastiKentimataDoubleYpsili</key>
    <string>petastiK_entimataD_oubleY_psili.glif</string>
    <key>petastiKentimaDoubleYpsiliRight</key>
    <string>petastiK_entimaD_oubleY_psiliR_ight.glif</string>
    <key>petastiKentimaDoubleYpsiliLeft</key>
    <string>petastiK_entimaD_oubleY_psiliL_eft.glif</string>
    <key>petastiKentimataTripleYpsili</key>
    <string>petastiK_entimataT_ripleY_psili.glif</string>
    <key>petastiTripleYpsili</key>
    <string>petastiT_ripleY_psili.glif</string>
    <key>oligonKentimaDoubleYpsiliRight</key>
    <string>oligonK_entimaD_oubleY_psiliR_ight.glif</string>
    <key>oligonKentimaDoubleYpsiliLeft</key>
    <string>oligonK_entimaD_oubleY_psiliL_eft.glif</string>
    <key>oligonTripleYpsili</key>
    <string>oligonT_ripleY_psili.glif</string>
    <key>oligonElafronApostrofos</key>
    <string>oligonE_lafronA_postrofos.glif</string>
    <key>petastiDoubleYpsili</key>
    <string>petastiD_oubleY_psili.glif</string>
    <key>oligonChamili</key>
    <string>oligonC_hamili.glif</string>
    <key>petastiChamiliElafron</key>
    <string>petastiC_hamiliE_lafron.glif</string>
    <key>petastiChamiliElafronApostrofos</key>
    <string>petastiC_hamiliE_lafronA_postrofos.glif</string>
    <key>petastiDoubleChamili</key>
    <string>petastiD_oubleC_hamili.glif</string>
    <key>petastiDoubleChamiliApostrofos</key>
    <string>petastiD_oubleC_hamiliA_postrofos.glif</string>
    <key>gorgonAbove</key>
    <string>gorgonA_bove.glif</string>
    <key>gorgonAbove.onFirstComponent</key>
    <string>gorgonA_bove.onFirstComponent.glif</string>
    <key>gorgonBelow</key>
    <string>gorgonB_elow.glif</string>
    <key>gorgonDottedLeft</key>
    <string>gorgonD_ottedL_eft.glif</string>
    <key>gorgonDottedLeft.onFirstComponent</key>
    <string>gorgonD_ottedL_eft.onFirstComponent.glif</string>
    <key>digorgon</key>
    <string>digorgon.glif</string>
    <key>digorgon.onFirstComponent</key>
    <string>digorgon.onFirstComponent.glif</string>
    <key>agogiPoliArgi</key>
    <string>agogiP_oliA_rgi.glif</string>
    <key>agogiMesi</key>
    <string>agogiM_esi.glif</string>
    <key>oligonKentimaMiddle</key>
    <string>oligonK_entimaM_iddle.glif</string>
    <key>gorgonDottedRight</key>
    <string>gorgonD_ottedR_ight.glif</string>
    <key>gorgonDottedRight.onFirstComponent</key>
    <string>gorgonD_ottedR_ight.onFirstComponent.glif</string>
    <key>digorgonDottedLeftBelow</key>
    <string>digorgonD_ottedL_eftB_elow.glif</string>
    <key>digorgonDottedLeftBelow.onFirstComponent</key>
    <string>digorgonD_ottedL_eftB_elow.onFirstComponent.glif</string>
    <key>tripleChamili</key>
    <string>tripleC_hamili.glif</string>
    <key>agogiArgoteri</key>
    <string>agogiA_rgoteri.glif</string>
    <key>agogiGorgi</key>
    <string>agogiG_orgi.glif</string>
    <key>agogiArgi</key>
    <string>agogiA_rgi.glif</string>
    <key>agogiGorgoteri</key>
    <string>agogiG_orgoteri.glif</string>
    <key>agogiPoliGorgi</key>
    <string>agogiP_oliG_orgi.glif</string>
    <key>agogiTrueAgogiMesiAbove</key>
    <string>agogiT_rueA_gogiM_esiA_bove.glif</string>
    <key>agogiTrueAgogiMesi</key>
    <string>agogiT_rueA_gogiM_esi.glif</string>
    <key>agogiMetria</key>
    <string>agogiM_etria.glif</string>
    <key>digorgonDottedLeftAbove</key>
    <string>digorgonD_ottedL_eftA_bove.glif</string>
    <key>digorgonDottedLeftAbove.onFirstComponent</key>
    <string>digorgonD_ottedL_eftA_bove.onFirstComponent.glif</string>
    <key>martyriaNoteZoLow</key>
    <string>martyriaN_oteZ_oL_ow.glif</string>
    <key>martyriaNoteNiLow</key>
    <string>martyriaN_oteN_iL_ow.glif</string>
    <key>martyriaNotePaLow</key>
    <string>martyriaN_oteP_aL_ow.glif</string>
    <key>martyriaNoteVouLow</key>
    <string>martyriaN_oteV_ouL_ow.glif</string>
    <key>martyriaNoteGaLow</key>
    <string>martyriaN_oteG_aL_ow.glif</string>
    <key>martyriaNoteDiLow</key>
    <string>martyriaN_oteD_iL_ow.glif</string>
    <key>martyriaNoteKeLow</key>
    <string>martyriaN_oteK_eL_ow.glif</string>
    <key>martyriaNoteZo</key>
    <string>martyriaN_oteZ_o.glif</string>
    <key>martyriaNotePa</key>
    <string>martyriaN_oteP_a.glif</string>
    <key>martyriaNoteNi</key>
    <string>martyriaN_oteN_i.glif</string>
    <key>martyriaNoteVou</key>
    <string>martyriaN_oteV_ou.glif</string>
    <key>martyriaNoteNiHigh</key>
    <string>martyriaN_oteN_iH_igh.glif</string>
    <key>martyriaNoteGa</key>
    <string>martyriaN_oteG_a.glif</string>
    <key>martyriaNoteDi</key>
    <string>martyriaN_oteD_i.glif</string>
    <key>martyriaNoteKe</key>
    <string>martyriaN_oteK_e.glif</string>
    <key>martyriaNoteZoHigh</key>
    <string>martyriaN_oteZ_oH_igh.glif</string>
    <key>martyriaNotePaHigh</key>
    <string>martyriaN_oteP_aH_igh.glif</string>
    <key>martyriaNoteVouHigh</key>
    <string>martyriaN_oteV_ouH_igh.glif</string>
    <key>martyriaNoteGaHigh</key>
    <string>martyriaN_oteG_aH_igh.glif</string>
    <key>martyriaNoteDiHigh</key>
    <string>martyriaN_oteD_iH_igh.glif</string>
    <key>martyriaNoteKeHigh</key>
    <string>martyriaN_oteK_eH_igh.glif</string>
    <key>martyriaTick</key>
    <string>martyriaT_ick.glif</string>
    <key>oligonKentimataBelow.alt01</key>
    <string>oligonK_entimataB_elow.alt01.glif</string>
    <key>oligonKentimataAbove.alt01</key>
    <string>oligonK_entimataA_bove.alt01.glif</string>
    <key>antikenoma.alt01</key>
    <string>antikenoma.alt01.glif</string>
    <key>petastiKentimaTripleYpsili</key>
    <string>petastiK_entimaT_ripleY_psili.glif</string>
    <key>vareia</key>
    <string>vareia.glif</string>
    <key>psifiston</key>
    <string>psifiston.glif</string>
    <key>antikenoma</key>
    <string>antikenoma.glif</string>
    <key>omalon</key>
    <string>omalon.glif</string>
    <key>omalonConnecting</key>
    <string>omalonC_onnecting.glif</string>
    <key>heteron</key>
    <string>heteron.glif</string>
    <key>heteronConnecting</key>
    <string>heteronC_onnecting.glif</string>
    <key>stavros</key>
    <string>stavros.glif</string>
    <key>klasmaAbove</key>
    <string>klasmaA_bove.glif</string>
    <key>klasmaBelow</key>
    <string>klasmaB_elow.glif</string>
    <key>apli</key>
    <string>apli.glif</string>
    <key>dipli</key>
    <string>dipli.glif</string>
    <key>tripli</key>
    <string>tripli.glif</string>
    <key>tetrapli</key>
    <string>tetrapli.glif</string>
    <key>leimma1</key>
    <string>leimma1.glif</string>
    <key>leimma2</key>
    <string>leimma2.glif</string>
    <key>leimma3</key>
    <string>leimma3.glif</string>
    <key>leimma4</key>
    <string>leimma4.glif</string>
    <key>digorgonDottedRight</key>
    <string>digorgonD_ottedR_ight.glif</string>
    <key>digorgonDottedRight.onFirstComponent</key>
    <string>digorgonD_ottedR_ight.onFirstComponent.glif</string>
    <key>trigorgon</key>
    <string>trigorgon.glif</string>
    <key>trigorgon.onFirstComponent</key>
    <string>trigorgon.onFirstComponent.glif</string>
    <key>trigorgonDottedLeftBelow</key>
    <string>trigorgonD_ottedL_eftB_elow.glif</string>
    <key>trigorgonDottedLeftAbove</key>
    <string>trigorgonD_ottedL_eftA_bove.glif</string>
    <key>trigorgonDottedRight</key>
    <string>trigorgonD_ottedR_ight.glif</string>
    <key>argon</key>
    <string>argon.glif</string>
    <key>diargon</key>
    <string>diargon.glif</string>
    <key>triargon</key>
    <string>triargon.glif</string>
    <key>martyriaZoBelow</key>
    <string>martyriaZ_oB_elow.glif</string>
    <key>martyriaDeltaBelow</key>
    <string>martyriaD_eltaB_elow.glif</string>
    <key>martyriaAlphaBelow</key>
    <string>martyriaA_lphaB_elow.glif</string>
    <key>martyriaLegetosBelow</key>
    <string>martyriaL_egetosB_elow.glif</string>
    <key>martyriaNanaBelow</key>
    <string>martyriaN_anaB_elow.glif</string>
    <key>martyriaDeltaDottedBelow</key>
    <string>martyriaD_eltaD_ottedB_elow.glif</string>
    <key>martyriaAlphaDottedBelow</key>
    <string>martyriaA_lphaD_ottedB_elow.glif</string>
    <key>martyriaHardChromaticPaBelow</key>
    <string>martyriaH_ardC_hromaticP_aB_elow.glif</string>
    <key>martyriaHardChromaticDiBelow</key>
    <string>martyriaH_ardC_hromaticD_iB_elow.glif</string>
    <key>martyriaSoftChromaticDiBelow</key>
    <string>martyriaS_oftC_hromaticD_iB_elow.glif</string>
    <key>martyriaSoftChromaticKeBelow</key>
    <string>martyriaS_oftC_hromaticK_eB_elow.glif</string>
    <key>martyriaZygosBelow</key>
    <string>martyriaZ_ygosB_elow.glif</string>
    <key>martyriaZoAbove</key>
    <string>martyriaZ_oA_bove.glif</string>
    <key>martyriaDeltaAbove</key>
    <string>martyriaD_eltaA_bove.glif</string>
    <key>martyriaAlphaAbove</key>
    <string>martyriaA_lphaA_bove.glif</string>
    <key>martyriaLegetosAbove</key>
    <string>martyriaL_egetosA_bove.glif</string>
    <key>martyriaNanaAbove</key>
    <string>martyriaN_anaA_bove.glif</string>
    <key>martyriaDeltaDottedAbove</key>
    <string>martyriaD_eltaD_ottedA_bove.glif</string>
    <key>martyriaAlphaDottedAbove</key>
    <string>martyriaA_lphaD_ottedA_bove.glif</string>
    <key>martyriaHardChromaticPaAbove</key>
    <string>martyriaH_ardC_hromaticP_aA_bove.glif</string>
    <key>martyriaHardChromaticDiAbove</key>
    <string>martyriaH_ardC_hromaticD_iA_bove.glif</string>
    <key>martyriaSoftChromaticDiAbove</key>
    <string>martyriaS_oftC_hromaticD_iA_bove.glif</string>
    <key>martyriaSoftChromaticKeAbove</key>
    <string>martyriaS_oftC_hromaticK_eA_bove.glif</string>
    <key>martyriaZygosAbove</key>
    <string>martyriaZ_ygosA_bove.glif</string>
    <key>fthoraDiatonicNiLowAbove</key>
    <string>fthoraD_iatonicN_iL_owA_bove.glif</string>
    <key>fthoraDiatonicPaAbove</key>
    <string>fthoraD_iatonicP_aA_bove.glif</string>
    <key>fthoraDiatonicVouAbove</key>
    <string>fthoraD_iatonicV_ouA_bove.glif</string>
    <key>fthoraDiatonicGaAbove</key>
    <string>fthoraD_iatonicG_aA_bove.glif</string>
    <key>fthoraDiatonicDiAbove</key>
    <string>fthoraD_iatonicD_iA_bove.glif</string>
    <key>fthoraDiatonicKeAbove</key>
    <string>fthoraD_iatonicK_eA_bove.glif</string>
    <key>fthoraDiatonicZoAbove</key>
    <string>fthoraD_iatonicZ_oA_bove.glif</string>
    <key>fthoraDiatonicNiHighAbove</key>
    <string>fthoraD_iatonicN_iH_ighA_bove.glif</string>
    <key>fthoraHardChromaticPaAbove</key>
    <string>fthoraH_ardC_hromaticP_aA_bove.glif</string>
    <key>fthoraHardChromaticDiAbove</key>
    <string>fthoraH_ardC_hromaticD_iA_bove.glif</string>
    <key>fthoraSoftChromaticDiAbove</key>
    <string>fthoraS_oftC_hromaticD_iA_bove.glif</string>
    <key>fthoraSoftChromaticKeAbove</key>
    <string>fthoraS_oftC_hromaticK_eA_bove.glif</string>
    <key>fthoraEnharmonicAbove</key>
    <string>fthoraE_nharmonicA_bove.glif</string>
    <key>chroaZygosAbove</key>
    <string>chroaZ_ygosA_bove.glif</string>
    <key>chroaKlitonAbove</key>
    <string>chroaK_litonA_bove.glif</string>
    <key>fthoraDiatonicNiLowBelow</key>
    <string>fthoraD_iatonicN_iL_owB_elow.glif</string>
    <key>fthoraDiatonicPaBelow</key>
    <string>fthoraD_iatonicP_aB_elow.glif</string>
    <key>fthoraDiatonicVouBelow</key>
    <string>fthoraD_iatonicV_ouB_elow.glif</string>
    <key>fthoraDiatonicGaBelow</key>
    <string>fthoraD_iatonicG_aB_elow.glif</string>
    <key>fthoraDiatonicDiBelow</key>
    <string>fthoraD_iatonicD_iB_elow.glif</string>
    <key>fthoraDiatonicKeBelow</key>
    <string>fthoraD_iatonicK_eB_elow.glif</string>
    <key>fthoraDiatonicZoBelow</key>
    <string>fthoraD_iatonicZ_oB_elow.glif</string>
    <key>fthoraDiatonicNiHighBelow</key>
    <string>fthoraD_iatonicN_iH_ighB_elow.glif</string>
    <key>fthoraHardChromaticPaBelow</key>
    <string>fthoraH_ardC_hromaticP_aB_elow.glif</string>
    <key>fthoraHardChromaticDiBelow</key>
    <string>fthoraH_ardC_hromaticD_iB_elow.glif</string>
    <key>fthoraSoftChromaticDiBelow</key>
    <string>fthoraS_oftC_hromaticD_iB_elow.glif</string>
    <key>fthoraSoftChromaticKeBelow</key>
    <string>fthoraS_oftC_hromaticK_eB_elow.glif</string>
    <key>fthoraEnharmonicBelow</key>
    <string>fthoraE_nharmonicB_elow.glif</string>
    <key>chroaZygosBelow</key>
    <string>chroaZ_ygosB_elow.glif</string>
    <key>chroaKlitonBelow</key>
    <string>chroaK_litonB_elow.glif</string>
    <key>diesis2</key>
    <string>diesis2.glif</string>
    <key>diesis4</key>
    <string>diesis4.glif</string>
    <key>diesis6</key>
    <string>diesis6.glif</string>
    <key>diesis8</key>
    <string>diesis8.glif</string>
    <key>yfesis2</key>
    <string>yfesis2.glif</string>
    <key>yfesis4</key>
    <string>yfesis4.glif</string>
    <key>yfesis6</key>
    <string>yfesis6.glif</string>
    <key>yfesis8</key>
    <string>yfesis8.glif</string>
    <key>diesisGenikiAbove</key>
    <string>diesisG_enikiA_bove.glif</string>
    <key>yfesisGenikiAbove</key>
    <string>yfesisG_enikiA_bove.glif</string>
    <key>diesisGenikiBelow</key>
    <string>diesisG_enikiB_elow.glif</string>
    <key>yfesisGenikiBelow</key>
    <string>yfesisG_enikiB_elow.glif</string>
    <key>noteIndicatorNi</key>
    <string>noteI_ndicatorN_i.glif</string>
    <key>noteIndicatorPa</key>
    <string>noteI_ndicatorP_a.glif</string>
    <key>noteIndicatorVou</key>
    <string>noteI_ndicatorV_ou.glif</string>
    <key>noteIndicatorGa</key>
    <string>noteI_ndicatorG_a.glif</string>
    <key>noteIndicatorDi</key>
    <string>noteI_ndicatorD_i.glif</string>
    <key>noteIndicatorKe</key>
    <string>noteI_ndicatorK_e.glif</string>
    <key>noteIndicatorZo</key>
    <string>noteI_ndicatorZ_o.glif</string>
    <key>chroaSpathiBelow</key>
    <string>chroaS_pathiB_elow.glif</string>
    <key>chroaSpathiAbove</key>
    <string>chroaS_pathiA_bove.glif</string>
    <key>measureNumber3</key>
    <string>measureN_umber3.glif</string>
    <key>measureNumber4</key>
    <string>measureN_umber4.glif</string>
    <key>measureNumber5</key>
    <string>measureN_umber5.glif</string>
    <key>measureNumber6</key>
    <string>measureN_umber6.glif</string>
    <key>measureNumber7</key>
    <string>measureN_umber7.glif</string>
    <key>measureNumber8</key>
    <string>measureN_umber8.glif</string>
    <key>measureNumber2</key>
    <string>measureN_umber2.glif</string>
    <key>isonIndicatorDiLow</key>
    <string>isonI_ndicatorD_iL_ow.glif</string>
    <key>isonIndicatorUnison</key>
    <string>isonI_ndicatorU_nison.glif</string>
    <key>isonIndicatorKeLow</key>
    <string>isonI_ndicatorK_eL_ow.glif</string>
    <key>isonIndicatorZo</key>
    <string>isonI_ndicatorZ_o.glif</string>
    <key>isonIndicatorNi</key>
    <string>isonI_ndicatorN_i.glif</string>
    <key>isonIndicatorPa</key>
    <string>isonI_ndicatorP_a.glif</string>
    <key>isonIndicatorVou</key>
    <string>isonI_ndicatorV_ou.glif</string>
    <key>isonIndicatorGa</key>
    <string>isonI_ndicatorG_a.glif</string>
    <key>isonIndicatorDi</key>
    <string>isonI_ndicatorD_i.glif</string>
    <key>isonIndicatorKe</key>
    <string>isonI_ndicatorK_e.glif</string>
    <key>isonIndicatorZoHigh</key>
    <string>isonI_ndicatorZ_oH_igh.glif</string>
    <key>modeThirdNana</key>
    <string>modeT_hirdN_ana.glif</string>
    <key>modeThird</key>
    <string>modeT_hird.glif</string>
    <key>modePlagalFirst</key>
    <string>modeP_lagalF_irst.glif</string>
    <key>modeFourth</key>
    <string>modeF_ourth.glif</string>
    <key>modeOligonYpsili</key>
    <string>modeO_ligonY_psili.glif</string>
    <key>modePlagalSecond</key>
    <string>modeP_lagalS_econd.glif</string>
    <key>modePlagalFourth</key>
    <string>modeP_lagalF_ourth.glif</string>
    <key>modeNi</key>
    <string>modeN_i.glif</string>
    <key>modePa</key>
    <string>modeP_a.glif</string>
    <key>modeAlphaCapital</key>
    <string>modeA_lphaC_apital.glif</string>
    <key>modeBetaCapital</key>
    <string>modeB_etaC_apital.glif</string>
    <key>modeGammaCapital</key>
    <string>modeG_ammaC_apital.glif</string>
    <key>modeDeltaCapital</key>
    <string>modeD_eltaC_apital.glif</string>
    <key>modeVarys</key>
    <string>modeV_arys.glif</string>
    <key>modePlagal</key>
    <string>modeP_lagal.glif</string>
    <key>modeWordVarys</key>
    <string>modeW_ordV_arys.glif</string>
    <key>modeAlpha</key>
    <string>modeA_lpha.glif</string>
    <key>modeBeta</key>
    <string>modeB_eta.glif</string>
    <key>modeWordEchos</key>
    <string>modeW_ordE_chos.glif</string>
    <key>modeGamma</key>
    <string>modeG_amma.glif</string>
    <key>modeDelta</key>
    <string>modeD_elta.glif</string>
    <key>modeFirst</key>
    <string>modeF_irst.glif</string>
    <key>modeSecond</key>
    <string>modeS_econd.glif</string>
    <key>modeLegetos</key>
    <string>modeL_egetos.glif</string>
    <key>modeVarys2</key>
    <string>modeV_arys2.glif</string>
    <key>modeVou</key>
    <string>modeV_ou.glif</string>
    <key>modeGa</key>
    <string>modeG_a.glif</string>
    <key>modeDi</key>
    <string>modeD_i.glif</string>
    <key>modeKe</key>
    <string>modeK_e.glif</string>
    <key>modeZo</key>
    <string>modeZ_o.glif</string>
    <key>modeOligonKentimaAbove</key>
    <string>modeO_ligonK_entimaA_bove.glif</string>
    <key>modeElafron</key>
    <string>modeE_lafron.glif</string>
    <key>modeRunningElafron</key>
    <string>modeR_unningE_lafron.glif</string>
    <key>gorthmikon</key>
    <string>gorthmikon.glif</string>
    <key>pelastikon</key>
    <string>pelastikon.glif</string>
    <key>barlineSingle</key>
    <string>barlineS_ingle.glif</string>
    <key>barlineDouble</key>
    <string>barlineD_ouble.glif</string>
    <key>barlineTheseos</key>
    <string>barlineT_heseos.glif</string>
    <key>barlineShortSingle</key>
    <string>barlineS_hortS_ingle.glif</string>
    <key>barlineShortDouble</key>
    <string>barlineS_hortD_ouble.glif</string>
    <key>barlineShortTheseos</key>
    <string>barlineS_hortT_heseos.glif</string>
    <key>breath</key>
    <string>breath.glif</string>
    <key>koronis</key>
    <string>koronis.glif</string>
    <key>leimmaDot</key>
    <string>leimmaD_ot.glif</string>
    <key>gorgonSecondary</key>
    <string>gorgonS_econdary.glif</string>
    <key>endofonon</key>
    <string>endofonon.glif</string>
    <key>yfenAbove</key>
    <string>yfenA_bove.glif</string>
    <key>yfenBelow</key>
    <string>yfenB_elow.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>modeFirst.salt01</key>
    <string>modeF_irst.salt01.glif</string>
    <key>modeFourth.salt01</key>
    <string>modeF_ourth.salt01.glif</string>
    <key>oligonKentimataBelow.alt02</key>
    <string>oligonK_entimataB_elow.alt02.glif</string>
    <key>gorgonDottedLeftSecondary</key>
    <string>gorgonD_ottedL_eftS_econdary.glif</string>
    <key>gorgonDottedRightSecondary</key>
    <string>gorgonD_ottedR_ightS_econdary.glif</string>
    <key>digorgonSecondary</key>
    <string>digorgonS_econdary.glif</string>
    <key>digorgonDottedLeftBelowSecondary</key>
    <string>digorgonD_ottedL_eftB_elowS_econdary.glif</string>
    <key>digorgonDottedRightSecondary</key>
    <string>digorgonD_ottedR_ightS_econdary.glif</string>
    <key>trigorgonSecondary</key>
    <string>trigorgonS_econdary.glif</string>
    <key>trigorgonDottedLeftBelowSecondary</key>
    <string>trigorgonD_ottedL_eftB_elowS_econdary.glif</string>
    <key>trigorgonDottedRightSecondary</key>
    <string>trigorgonD_ottedR_ightS_econdary.glif</string>
    <key>oligonChamiliKentimata</key>
    <string>oligonC_hamiliK_entimata.glif</string>
    <key>psifiston.salt01</key>
    <string>psifiston.salt01.glif</string>
    <key>heteronConnecting.salt01</key>
    <string>heteronC_onnecting.salt01.glif</string>
    <key>agogiPoliArgiAbove</key>
    <string>agogiP_oliA_rgiA_bove.glif</string>
    <key>agogiArgoteriAbove</key>
    <string>agogiA_rgoteriA_bove.glif</string>
    <key>agogiArgiAbove</key>
    <string>agogiA_rgiA_bove.glif</string>
    <key>agogiMetriaAbove</key>
    <string>agogiM_etriaA_bove.glif</string>
    <key>agogiMesiAbove</key>
    <string>agogiM_esiA_bove.glif</string>
    <key>agogiGorgiAbove</key>
    <string>agogiG_orgiA_bove.glif</string>
    <key>agogiGorgoteriAbove</key>
    <string>agogiG_orgoteriA_bove.glif</string>
    <key>agogiPoliGorgiAbove</key>
    <string>agogiP_oliG_orgiA_bove.glif</string>
    <key>fthoraDiatonicNiLowSecondary</key>
    <string>fthoraD_iatonicN_iL_owS_econdary.glif</string>
    <key>fthoraDiatonicPaSecondary</key>
    <string>fthoraD_iatonicP_aS_econdary.glif</string>
    <key>fthoraDiatonicVouSecondary</key>
    <string>fthoraD_iatonicV_ouS_econdary.glif</string>
    <key>fthoraDiatonicGaSecondary</key>
    <string>fthoraD_iatonicG_aS_econdary.glif</string>
    <key>fthoraDiatonicDiSecondary</key>
    <string>fthoraD_iatonicD_iS_econdary.glif</string>
    <key>fthoraDiatonicKeSecondary</key>
    <string>fthoraD_iatonicK_eS_econdary.glif</string>
    <key>fthoraDiatonicZoSecondary</key>
    <string>fthoraD_iatonicZ_oS_econdary.glif</string>
    <key>fthoraDiatonicNiHighSecondary</key>
    <string>fthoraD_iatonicN_iH_ighS_econdary.glif</string>
    <key>fthoraHardChromaticPaSecondary</key>
    <string>fthoraH_ardC_hromaticP_aS_econdary.glif</string>
    <key>fthoraHardChromaticDiSecondary</key>
    <string>fthoraH_ardC_hromaticD_iS_econdary.glif</string>
    <key>fthoraSoftChromaticDiSecondary</key>
    <string>fthoraS_oftC_hromaticD_iS_econdary.glif</string>
    <key>fthoraSoftChromaticKeSecondary</key>
    <string>fthoraS_oftC_hromaticK_eS_econdary.glif</string>
    <key>fthoraEnharmonicSecondary</key>
    <string>fthoraE_nharmonicS_econdary.glif</string>
    <key>chroaZygosSecondary</key>
    <string>chroaZ_ygosS_econdary.glif</string>
    <key>chroaKlitonSecondary</key>
    <string>chroaK_litonS_econdary.glif</string>
    <key>chroaSpathiSecondary</key>
    <string>chroaS_pathiS_econdary.glif</string>
    <key>fthoraDiatonicNiLowTertiary</key>
    <string>fthoraD_iatonicN_iL_owT_ertiary.glif</string>
    <key>fthoraDiatonicPaTertiary</key>
    <string>fthoraD_iatonicP_aT_ertiary.glif</string>
    <key>fthoraDiatonicVouTertiary</key>
    <string>fthoraD_iatonicV_ouT_ertiary.glif</string>
    <key>fthoraDiatonicGaTertiary</key>
    <string>fthoraD_iatonicG_aT_ertiary.glif</string>
    <key>fthoraDiatonicDiTertiary</key>
    <string>fthoraD_iatonicD_iT_ertiary.glif</string>
    <key>fthoraDiatonicKeTertiary</key>
    <string>fthoraD_iatonicK_eT_ertiary.glif</string>
    <key>fthoraDiatonicZoTertiary</key>
    <string>fthoraD_iatonicZ_oT_ertiary.glif</string>
    <key>fthoraDiatonicNiHighTertiary</key>
    <string>fthoraD_iatonicN_iH_ighT_ertiary.glif</string>
    <key>fthoraHardChromaticPaTertiary</key>
    <string>fthoraH_ardC_hromaticP_aT_ertiary.glif</string>
    <key>fthoraHardChromaticDiTertiary</key>
    <string>fthoraH_ardC_hromaticD_iT_ertiary.glif</string>
    <key>fthoraSoftChromaticDiTertiary</key>
    <string>fthoraS_oftC_hromaticD_iT_ertiary.glif</string>
    <key>fthoraSoftChromaticKeTertiary</key>
    <string>fthoraS_oftC_hromaticK_eT_ertiary.glif</string>
    <key>fthoraEnharmonicTertiary</key>
    <string>fthoraE_nharmonicT_ertiary.glif</string>
    <key>chroaZygosTertiary</key>
    <string>chroaZ_ygosT_ertiary.glif</string>
    <key>chroaKlitonTertiary</key>
    <string>chroaK_litonT_ertiary.glif</string>
    <key>chroaSpathiTertiary</key>
    <string>chroaS_pathiT_ertiary.glif</string>
    <key>yfesis2Secondary</key>
    <string>yfesis2S_econdary.glif</string>
    <key>yfesis4Secondary</key>
    <string>yfesis4S_econdary.glif</string>
    <key>yfesis6Secondary</key>
    <string>yfesis6S_econdary.glif</string>
    <key>yfesis8Secondary</key>
    <string>yfesis8S_econdary.glif</string>
    <key>yfesis2Tertiary</key>
    <string>yfesis2T_ertiary.glif</string>
    <key>yfesis4Tertiary</key>
    <string>yfesis4T_ertiary.glif</string>
    <key>yfesis6Tertiary</key>
    <string>yfesis6T_ertiary.glif</string>
    <key>yfesis8Tertiary</key>
    <string>yfesis8T_ertiary.glif</string>
    <key>yfesisGenikiSecondary</key>
    <string>yfesisG_enikiS_econdary.glif</string>
    <key>yfesisGenikiTertiary</key>
    <string>yfesisG_enikiT_ertiary.glif</string>
    <key>diesisGenikiSecondary</key>
    <string>diesisG_enikiS_econdary.glif</string>
    <key>diesisGenikiTertiary</key>
    <string>diesisG_enikiT_ertiary.glif</string>
    <key>digorgonDottedLeftSecondary</key>
    <string>digorgonD_ottedL_eftS_econdary.glif</string>
    <key>trigorgonDottedLeftSecondary</key>
    <string>trigorgonD_ottedL_eftS_econdary.glif</string>
    <key>psifiston.alt01</key>
    <string>psifiston.alt01.glif</string>
    <key>barlineShortSingleAbove</key>
    <string>barlineS_hortS_ingleA_bove.glif</string>
    <key>barlineSingleAbove</key>
    <string>barlineS_ingleA_bove.glif</string>
    <key>barlineDoubleAbove</key>
    <string>barlineD_oubleA_bove.glif</string>
    <key>barlineTheseosAbove</key>
    <string>barlineT_heseosA_bove.glif</string>
    <key>barlineShortDoubleAbove</key>
    <string>barlineS_hortD_oubleA_bove.glif</string>
    <key>barlineShortTheseosAbove</key>
    <string>barlineS_hortT_heseosA_bove.glif</string>
    <key>diesis2Secondary</key>
    <string>diesis2S_econdary.glif</string>
    <key>diesis4Secondary</key>
    <string>diesis4S_econdary.glif</string>
    <key>diesis6Secondary</key>
    <string>diesis6S_econdary.glif</string>
    <key>diesis8Secondary</key>
    <string>diesis8S_econdary.glif</string>
    <key>diesis2Tertiary</key>
    <string>diesis2T_ertiary.glif</string>
    <key>diesis4Tertiary</key>
    <string>diesis4T_ertiary.glif</string>
    <key>diesis6Tertiary</key>
    <string>diesis6T_ertiary.glif</string>
    <key>diesis8Tertiary</key>
    <string>diesis8T_ertiary.glif</string>
    <key>stavrosAbove</key>
    <string>stavrosA_bove.glif</string>
    <key>u1D0B4</key>
    <string>u1D_0B_4.glif</string>
    <key>u1D0B5</key>
    <string>u1D_0B_5.glif</string>
    <key>u1D0B6</key>
    <string>u1D_0B_6.glif</string>
    <key>u1D0BA</key>
    <string>u1D_0B_A_.glif</string>
    <key>u1D0BB</key>
    <string>u1D_0B_B_.glif</string>
    <key>u1D0BD</key>
    <string>u1D_0B_D_.glif</string>
    <key>u1D0BF</key>
    <string>u1D_0B_F_.glif</string>
    <key>u1D0C0</key>
    <string>u1D_0C_0.glif</string>
    <key>u1D0C1</key>
    <string>u1D_0C_1.glif</string>
    <key>u1D0C2</key>
    <string>u1D_0C_2.glif</string>
    <key>u1D0C3</key>
    <string>u1D_0C_3.glif</string>
    <key>u1D0C4</key>
    <string>u1D_0C_4.glif</string>
    <key>u1D0C4.toSoftChromaticKeMartyria</key>
    <string>u1D_0C_4.toS_oftC_hromaticK_eM_artyria.glif</string>
    <key>u1D0C4.toSoftChromaticKeMartyriaTop</key>
    <string>u1D_0C_4.toSoftChromaticKeMartyriaTop.glif</string>
    <key>u1D0C5</key>
    <string>u1D_0C_5.glif</string>
    <key>u1D0C7</key>
    <string>u1D_0C_7.glif</string>
    <key>u1D0C7.toHardChromaticDiMartyria</key>
    <string>u1D_0C_7.toH_ardC_hromaticD_iM_artyria.glif</string>
    <key>u1D0C7.toHardChromaticDiMartyriaTop</key>
    <string>u1D_0C_7.toHardChromaticDiMartyriaTop.glif</string>
    <key>u1D0C8</key>
    <string>u1D_0C_8.glif</string>
    <key>u1D0C8.toZygosMartyria</key>
    <string>u1D_0C_8.toZygosMartyria.glif</string>
    <key>u1D0C8.toZygosMartyriaTop</key>
    <string>u1D_0C_8.toZygosMartyriaTop.glif</string>
    <key>u1D0C9</key>
    <string>u1D_0C_9.glif</string>
    <key>u1D0C9.toKlitonMartyria</key>
    <string>u1D_0C_9.toKlitonMartyria.glif</string>
    <key>u1D0C9.toKlitonMartyriaTop</key>
    <string>u1D_0C_9.toKlitonMartyriaTop.glif</string>
    <key>u1D0CA</key>
    <string>u1D_0C_A_.glif</string>
    <key>u1D0CA.toSpathiMartyria</key>
    <string>u1D_0C_A.toSpathiMartyria.glif</string>
    <key>u1D0CA.toSpathiMartyriaTop</key>
    <string>u1D_0C_A.toSpathiMartyriaTop.glif</string>
    <key>u1D0CB</key>
    <string>u1D_0C_B_.glif</string>
    <key>uniE1D0</key>
    <string>uniE_1D_0.glif</string>
    <key>uniE1D1</key>
    <string>uniE_1D_1.glif</string>
    <key>uniE1D2</key>
    <string>uniE_1D_2.glif</string>
    <key>uniE1D3</key>
    <string>uniE_1D_3.glif</string>
    <key>uniE1D4</key>
    <string>uniE_1D_4.glif</string>
    <key>uniE1D5</key>
    <string>uniE_1D_5.glif</string>
    <key>uniE1D6</key>
    <string>uniE_1D_6.glif</string>
    <key>uniE1D7</key>
    <string>uniE_1D_7.glif</string>
    <key>uniE1D8</key>
    <string>uniE_1D_8.glif</string>
    <key>uniE1D9</key>
    <string>uniE_1D_9.glif</string>
    <key>uniE1DA</key>
    <string>uniE_1D_A_.glif</string>
    <key>uniE1DB</key>
    <string>uniE_1D_B_.glif</string>
    <key>uniE1DC</key>
    <string>uniE_1D_C_.glif</string>
    <key>uniE1DD</key>
    <string>uniE_1D_D_.glif</string>
    <key>uniE1DE</key>
    <string>uniE_1D_E_.glif</string>
    <key>uniE1DF</key>
    <string>uniE_1D_F_.glif</string>
    <key>karasIsaki</key>
    <string>karasIsaki.glif</string>
    <key>karasIsaki.altFront01</key>
    <string>karasIsaki.altFront01.glif</string>
    <key>karasIsaki.altBack01</key>
    <string>karasIsaki.altBack01.glif</string>
    <key>karasIsaki.altBack02</key>
    <string>karasIsaki.altBack02.glif</string>
    <key>karasLygisma</key>
    <string>karasLygisma.glif</string>
    <key>karasLygisma.connecting</key>
    <string>karasLygisma.connecting.glif</string>
    <key>karasParacletike</key>
    <string>karasParacletike.glif</string>
    <key>karasPiesma</key>
    <string>karasPiesma.glif</string>
    <key>karasTromikon</key>
    <string>karasTromikon.glif</string>
    <key>karasTsakisma</key>
    <string>karasTsakisma.glif</string>
    <key>karasTsakismaBelow</key>
    <string>karasTsakismaBelow.glif</string>
    <key>karasEkstrepton</key>
    <string>karasEkstrepton.glif</string>
    <key>karasThemaAploun</key>
    <string>karasThemaAploun.glif</string>
    <key>karasThemaAplounBelow</key>
    <string>karasThemaAplounBelow.glif</string>
    <key>karasThemaAplounSecondary</key>
    <string>karasThemaAplounSecondary.glif</string>
    <key>karasThemaAplounTertiary</key>
    <string>karasThemaAplounTertiary.glif</string>
    <key>karasThemaAploun.toSabaaMartyria</key>
    <string>karasThemaAploun.toSabaaMartyria.glif</string>
    <key>karasThemaAploun.toSabaaMartyriaTop</key>
    <string>karasThemaAploun.toSabaaMartyriaTop.glif</string>
    <key>oxeiaApostrofosElafron</key>
    <string>oxeiaApostrofosElafron.glif</string>
    <key>oxeiaApostrofosElafronKentimata</key>
    <string>oxeiaApostrofosElafronKentimata.glif</string>
    <key>oxeiaApostrofos</key>
    <string>oxeiaApostrofos.glif</string>
    <key>oxeiaApostrofosKentimata</key>
    <string>oxeiaApostrofosKentimata.glif</string>
    <key>oxeiaChamili</key>
    <string>oxeiaChamili.glif</string>
    <key>oxeiaChamiliKentimata</key>
    <string>oxeiaChamiliKentimata.glif</string>
    <key>oxeiaDoubleHypsili</key>
    <string>oxeiaDoubleHypsili.glif</string>
    <key>oxeiaElafronApostrofos</key>
    <string>oxeiaElafronApostrofos.glif</string>
    <key>oxeiaElafronApostrofosKentimata</key>
    <string>oxeiaElafronApostrofosKentimata.glif</string>
    <key>oxeiaElafron</key>
    <string>oxeiaElafron.glif</string>
    <key>oxeiaElafronKentimata</key>
    <string>oxeiaElafronKentimata.glif</string>
    <key>oxeia</key>
    <string>oxeia.glif</string>
    <key>oxeiaHypsiliL</key>
    <string>oxeiaHypsiliL.glif</string>
    <key>oxeiaHypsiliR</key>
    <string>oxeiaHypsiliR.glif</string>
    <key>oxeiaIson</key>
    <string>oxeiaIson.glif</string>
    <key>oxeiaIsonKentimata</key>
    <string>oxeiaIsonKentimata.glif</string>
    <key>oxeiaYporroi</key>
    <string>oxeiaYporroi.glif</string>
    <key>oxeiaKentimaMiddle</key>
    <string>oxeiaKentimaMiddle.glif</string>
    <key>oxeiaKentimaMiddleKentimataAbove</key>
    <string>oxeiaKentimaMiddleKentimataAbove.glif</string>
    <key>oxeiaKentimaAboveDoubleHypsiliL</key>
    <string>oxeiaKentimaAboveDoubleHypsiliL.glif</string>
    <key>oxeiaKentimaAboveDoubleHypsiliR</key>
    <string>oxeiaKentimaAboveDoubleHypsiliR.glif</string>
    <key>oxeiaKentimaAbove</key>
    <string>oxeiaKentimaAbove.glif</string>
    <key>oxeiaKentimataAboveHypsiliL</key>
    <string>oxeiaKentimataAboveHypsiliL.glif</string>
    <key>oxeiaKentimaAboveHypsiliM</key>
    <string>oxeiaKentimaAboveHypsiliM.glif</string>
    <key>oxeiaKentimaAboveHypsiliR</key>
    <string>oxeiaKentimaAboveHypsiliR.glif</string>
    <key>oxeiaKentimaBelow</key>
    <string>oxeiaKentimaBelow.glif</string>
    <key>oxeiaKentimataAbove</key>
    <string>oxeiaKentimataAbove.glif</string>
    <key>oxeiaKentimataAboveDoubleHypsiliR</key>
    <string>oxeiaKentimataAboveDoubleHypsiliR.glif</string>
    <key>oxeiaKentimataBelow</key>
    <string>oxeiaKentimataBelow.glif</string>
    <key>oxeiaKentimataBelow.alt01</key>
    <string>oxeiaKentimataBelow.alt01.glif</string>
    <key>oxeiaKentimataHypsili</key>
    <string>oxeiaKentimataHypsili.glif</string>
    <key>oxeiaKentimataAboveTripleHypsili</key>
    <string>oxeiaKentimataAboveTripleHypsili.glif</string>
    <key>oxeiaKentimaAboveTripleHypsili</key>
    <string>oxeiaKentimaAboveTripleHypsili.glif</string>
    <key>oxeiaTripleHypsili</key>
    <string>oxeiaTripleHypsili.glif</string>
    <key>oxeiaYporroiKentimata</key>
    <string>oxeiaYporroiKentimata.glif</string>
  </dict>
</plist>
